cachetools==4.2.4
certifi==2021.10.8
chardet==4.0.0
discord-webhook==0.14.0
google-api-core==2.2.1
google-api-python-client==2.28.0
google-auth==2.3.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.20.1
idna
iso8601==0.1.16
packaging==21.2
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytz==2021.3
requests
rsa==4.7.2
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.7
python-decouple
